@import "tailwindcss";

@theme {
  --font-title: "DM Serif Text", "sans-serif";
  --font-body: "Rubik", "sans-serif";
  --color-muted: #71717a;
}

body {
  @apply bg-amber-50 text-zinc-800 font-body;
}
